<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员-查找书籍</title>
    <link href="/layui/css/layui.css" rel="stylesheet" media="all"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">

    <div th:include="common/admin_header :: header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item"><a href="/adminLogin"><i class="layui-icon layui-icon-home"></i> 图书馆首页</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-read"></i> 书籍管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/addBookPage">&emsp;&emsp;<i class="layui-icon layui-icon-add-circle"></i> 录入新书</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-tabs"></i> 类别管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/addCategoryPage?pageNum=1">&emsp;&emsp;<i class="layui-icon layui-icon-add-circle"></i> 新建类别</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-list"></i> 书籍信息</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="/showBooksPage">&emsp;&emsp;<i class="layui-icon layui-icon-search"></i> 查询书籍</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-user"></i> 用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/showUsersPage?pageNum=1">&emsp;&emsp;<i class="layui-icon layui-icon-group"></i> 管理用户</a></dd>
                        <dd><a href="/addUserPage">&emsp;&emsp;<i class="layui-icon layui-icon-add-circle"></i> 新增用户</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i> 借阅信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/allBorrowBooksRecordPage?pageNum=1">&emsp;&emsp;<i class="layui-icon layui-icon-form"></i> 借书记录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i> 活动管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="publishActivity">&emsp;&emsp;<i class="layui-icon layui-icon-form"></i> 发布活动</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/feedbackList"><i class="layui-icon layui-icon-username"></i> 反馈信息</a></li>


            </ul>
        </div>
    </div>

    <div class="layui-body layui-container">

        <div class="layui-row">
            <div class="layui-col-md3">

                <hr class="layui-bg-blue">
                <h1 style="text-align:left">查询书籍</h1>
                <hr class="layui-bg-blue">

                <form class="layui-form" action="/findBookByBookPartInfos" id="findBookByNameForm">

                    <div class="layui-form-item">
                        <input placeholder="请输入书名信息" class="layui-input" autofocus autocomplete="off" type="text"
                               name="bookPartInfo" lay-verify="required">
                    </div>

                    <input class="layui-btn" type="submit" lay-submit="" value="查询">
                </form>
            </div>


            <div class="layui-col-md7 layui-col-lg-offset1">

                <hr class="layui-bg-blue">
                <h1 style="text-align: left">查询结果</h1>
                <hr class="layui-bg-blue">

                <table class="layui-table ">
                    <thead>
                    <tr>
                        <th>书籍编号</th>
                        <th>书名</th>
                        <th>作者</th>
                        <th>出版社</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tr th:each="book:${bookList}">
                        <td><label th:text="${book.getBookId()}"></label></td>
                        <td><label th:text="${book.getBookName()}"></label></td>
                        <td><label th:text="${book.getBookAuthor()}"></label></td>
                        <td><label th:text="${book.getBookPublish()}"></label></td>
                        <td><label th:text="${book.getIsExist()}"></label></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div th:include="common/footer :: footer"></div>
</div>
<script src="/scripts/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/scripts/admin/showBooks.js"></script>
</body>
</html>


