<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>已借书籍</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/custom.css" />
    <style>
        /*body{*/
        /*    background-color:#d3ba79;*/
        /*}*/
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="common/user_header :: header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item"><a href="/userLogin"><i class="layui-icon layui-icon-home"></i> 图书馆首页</a></li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-template"></i> 书籍信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/findBookPage">&emsp;&emsp;<i class="layui-icon layui-icon-search"></i> 查询书籍</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-edit"></i> 书籍管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/borrowingPage">&emsp;&emsp;<i class="layui-icon layui-icon-add-circle"></i> 借阅书籍</a></dd>
                        <dd><a href="/userReturnBooksPage">&emsp;&emsp;<i class="layui-icon layui-icon-reduce-circle"></i> 归还书籍</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-list"></i> 借阅信息</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="/userBorrowBookRecord">&emsp;&emsp;<i class="layui-icon layui-icon-notice"></i> 借书记录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-edit"></i> 活动信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/activityList">&emsp;&emsp;<i class="layui-icon layui-icon-notice"></i> 图书活动</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a class="layui-nav-child" href="/bookListPage"><i class="layui-icon layui-icon-file"></i> 图书列表</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">

        <div class="layui-container">
            <hr class="layui-bg-blue">
            <h3 style="text-align: center; font-size: xx-large"> 已 借 书 籍</h3>
            <hr class="layui-bg-blue">
            <table class="layui-table ">
                <thead>
                <tr>
                    <th>书籍ID</th>
                    <th>书名</th>
                    <th>借书日期</th>
                    <th>最晚还书日期</th>
                </tr>
                </thead>

                <tr th:each="borrowingBooks : ${borrowingBooksList}">
                    <td><label th:text="${borrowingBooks.getBook().getBookId()}"></label></td>
                    <td><label id="bookName" th:title="${borrowingBooks.getBook().getBookAuthor()}" href="#"
                               th:text="${borrowingBooks.getBook().getBookName()}">Title ...</label></td>
                    <td><label th:text="${borrowingBooks.getDateOfBorrowing()}"></label></td>
                    <td><label th:text="${borrowingBooks.getDateOfReturn()}"></label></td>
                </tr>
            </table>
        </div>
    </div>


    <div th:include="common/footer :: footer"></div>

</div>

<script src="/scripts/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        let element = layui.element;
    });
</script>

</body>
</html>
